@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display&display=swap');
@import 'variables';
@import "mixins";


$font-main: 'Lato', sans-serif;
$font-second: 'Playfair Display', serif;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  font-weight: 400;

  background-image: var(--body-src);
  background-repeat: no-repeat;
  background-size: contain;

  background-color: var(--main-bg);
}

body.light {
  @include spread-map($theme-map-light);

  .theme-switcher {
    background-color: #161926;
    color: white;
  }
}

body.dark {
  @include spread-map($theme-map-dark);

  .theme-switcher {
    background-color: white;
    color: #161926;
  }
}

.theme-switcher {
  position: fixed;
  top: 15%;
  right: 0;
  padding: 30px 0 30px 18px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  cursor: pointer;
  z-index: 1;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header {
  margin-top: 30px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
}

/* Nav */
.nav {
  ul {
    @include reset-list;
    display: flex;
  }

  li {
    color: var(--text-color);
    position: relative;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover:after {
      $height: 3px;
      display: block;
      content: '';
      width: 100%;
      height: $height;
      background: var(--nav-item-after-color);
      opacity: 0.3;
      position: absolute;
      bottom: -$height;
      left: 0;
    }
  }
}

/* Intro */
.intro {
  margin-top: 150px;

  .title {
    max-width: 523px;
    margin-bottom: 20px;
  }

  .subtitle {
    max-width: 439px;
    margin-bottom: 50px;
  }
}

/* info */
.info {
  position: relative;
  margin-top: 150px;

  &__wrapper {
    display: flex;
    justify-content: end;
    padding: 45px 0;
    background-image: url("../assets/info.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__right {
    display: flex;
    padding: 45px 0;
    background-color: var(--main-bg);
    opacity: 0.9;

    .subtitle {
      max-width: 400px;
      margin-bottom: 50px;
    }
  }

  ul {
    @include reset-list;

    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    text-align: center;

    &:not(:last-child) {
      &.info__item {
        margin-bottom: 40px;
      }
    }

    &:not(:first-child) {
      &.info__item {
        margin-top: 40px;
      }
    }

    &.divider {
      background-color: #85BBB1;
      width: 100px;
      height: 1px;
    }

    h2 {
      font-family: $font-second;
      color: var(--text-color);
      font-size: 68px;
      line-height: 72px;
      margin: 0 {
        bottom: 12px;
      };
    }
  }
}

/* Benefits */
.benefits {
  margin-top: 120px;

  ul {
    @include reset-list;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 60px;
  }

  li {
    height: 250px;
    padding: 50px 35px 0 35px;
    border-top: 1px solid var(--border-color);

    .title {
      margin-bottom: 30px;
    }
  }
}

/* Quote */
.quote {
  margin-top: 120px;
  color: white;


  &__wrapper {
    background-image: url("../assets/quote.png");
    background-repeat: no-repeat;
    padding: 70px 0 100px 100px;
  }

  &__content {
    position: relative;
    padding: 30px 60px 0 60px;
  }

  h2 {
    font-size: 32px;
    line-height: 46px;

    letter-spacing: 0.04em;
    margin: 0 {
      bottom: 40px;
    }
  }

  p {
    font-family: $font-second;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    letter-spacing: 0.08em;
    margin: 0;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Video */
.video {
  margin-top: 120px;

  video {
    max-width: min(100%, 870px);
    max-height: 540px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__tabled {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 32px;

    &__circle {
      border-radius: 50%;

      &-small {
        width: 13px;
        height: 13px;
        border: 1px solid var(--border-color);
        margin-left: 8px;
        margin-right: 9px;
      }

      &-medium {
        width: 35px;
        height: 35px;
        border: 1px solid var(--border-color);
        margin-left: 21px;
        margin-right: 14px;
      }
    }

    &__play {
      border-radius: 50%;
      background-color: rgba(88, 98, 145, 0.3);
      background-image: url("../assets/pause.png");
      background-repeat: no-repeat;
      background-position: center;
      border: unset;
      width: 120px;
      height: 120px;
      position: absolute;
      cursor: pointer;
      top: calc(50% - 120px / 2);
      left: calc(50% - 120px / 2);
    }
  }

  &__content {
    margin-top: 50px;
    max-width: 970px;

    .title {
      margin-bottom: 20px;
    }
  }
}

/* Promises */
.promises {
  margin-top: 120px;

  &__wrapper {
    display: flex;
    justify-content: end;
    background-image: url("../assets/promises.png");
    background-repeat: no-repeat;
  }

  &__right {
    background-color: var(--main-bg);
    opacity: 0.9;
    margin: 45px 0;
  }

  ul {
    @include reset-list;
    align-items: center;
    color: var(--text-color);
    padding: 75px 0 75px 70px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 70px;

    h2 {
      font-family: $font-second;
      font-size: 24px;
      line-height: 48px;
      margin: 0 {
        bottom: 15px;
      };
    }

    .subtitle {
      max-width: 300px;
    }
  }
}

/* Reviews */
.reviews {
  margin-top: 120px;
  color: white;

  .title {
    margin-bottom: 20px;
  }

  .subtitle {
    max-width: 400px;
  }

  ul {
    @include reset-list;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
  }

  li {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 40px;
  }

  &__review-1 {
    background: linear-gradient(rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url("../assets/review1.jpg");
  }

  &__review-2 {
    background: linear-gradient(rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url("../assets/review2.png");
  }

  &__review-3 {
    background: linear-gradient(rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url("../assets/review3.png");
  }


  &__reviewer-text {
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
  }

  &__reviewer-name {
    font-family: $font-second;
    font-style: italic;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    margin: 0;
  }
}

/* Contact */
.contact {
  margin-top: 100px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 100px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  &__left {
    max-width: 470px;
  }

  &__right {
    max-width: 470px;
    display: flex;
    flex-direction: column;
  }

  .divider {
    background-color: var(--button-color-main);
    opacity: 0.1;
    width: 100%;
    height: 1px;
    margin-top: 12px;
    margin-bottom: 40px;
  }
}

/* Footer */
.footer {
  padding: 30px 0;

  &__made-by,
  &__links,
  &__wrapper {
    display: flex;
  }

  &__wrapper {
    justify-content: space-between;
  }

  &__made-by {
    margin: 0 12px;
    p:first-child {
      margin-right: 12px;
    }
  }

  &__links {
    p:first-child {
      margin-right: 32px;
    }
  }
}

/* Effects */
.background-blur {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4.5px);
}

/* Common */
.title {
  color: var(--text-color);
  font-family: $font-second;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin: 0;

  &-big {
    font-size: 44px;
    line-height: 52px;
  }
}

.subtitle {
  color: var(--text-color);
  font-family: $font-main;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  margin: 0;
  padding: 0;

  &-tiny {
    font-size: 14px;
    opacity: 0.6;
  }

  &-small {
    font-size: 14px;
    letter-spacing: 0.08em;
    font-weight: 400;
  }

  &-no-opacity {
    opacity: 1;
  }
}

.highlighted-word {
  font-style: italic;
  color: var(--highlighted-word-color);
}

.highlighted-sign {
  color: var(--highlighted-sign-color);
  font-family: $font-second;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}

.button {
  width: fit-content;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  border: unset;
  background: unset;
  padding: 0;
  color: var(--button-color-main);


  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 13px;
    opacity: 0.3;
    position: absolute;
    left: 10px;
    top: 50%;
    background-color: var(--button-color-main);
  }

  &:hover {
    color: var(--button-color-dark);
  }

  &:hover:after {
    background-color: var(--button-color-dark);
  }

  &-big {
    border: 1px solid #E4E4E4;
    padding: 33px 90px;
  }

  &-big:hover {
    border: 1px solid var(--button-color-dark);
  }

  &-big:after {
    left: 90px + 10px;
    width: calc(100% - 180px);
  }

}

.input {
  font-family: $font-second;
  color: var(--text-color);
  background-color: var(--main-bg);
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  opacity: 0.5;
  border: unset;
  outline: unset;
}

.burger {
  display: none;
  padding: 9px 2px ;
  background: none;
  border: 0;
  cursor: pointer;

}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;

  position: relative;
}

.burger__item::after,
.burger__item::before {
  content: "";
  width: 100%;
  height: 100%;

  background-color: #fff;

  position: absolute;
  left: 0;
  z-index: 1;

}

.burger__item::before {
  top: -8px;
}

.burger__item::after {
  bottom: -8px;
}

/* Media */
@media screen and (max-width: 1200px) {
  .quote {
    &__wrapper {
      padding: 35px 0 50px 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .info,
  .promises {
    &__wrapper {
      background-size: cover;
      padding: 0;
    }

    &__right {
      width: 100%;
    }

    ul {
      padding: 0;
      justify-content: center;
    }
  }

  .benefits {
    ul {
      grid-template-columns: auto;
      grid-row-gap: 0;
    }

    li {
      height: fit-content;
    }
  }

  .quote {
    &__content,
    &__wrapper {
      padding: 10px;
    }

    h2 {
      font-size: 26px;
    }

    p {
      font-size: 14px;
    }
  }

  .video {
    &__tabled {
      border: unset;

      &__circle {
        display: none;
      }
    }
  }

  .reviews {
    ul {
      grid-template-columns: auto;
      grid-row-gap: 30px;
    }
  }

  .contact {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__left {
      margin-bottom: 40px;
    }
  }

  /* Common */
  .burger {
    display: block;
    color: #fff;
  }

  .title {
    font-size: 32px;
    line-height: 40px;

    &-big {
      font-size: 26px;
      line-height: 44px;
    }
  }

  .subtitle {
    font-size: 16px;
    line-height: 22px;

    &-tiny {
      font-size: 12px;
      opacity: 0.6;
    }

    &-small {
      font-size: 12px;
      letter-spacing: 0.08em;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 576px) {
  .info {
    &__right {
      flex-direction: column;
      align-items: center;
    }
  }

  .quote {
    &__content,
    &__wrapper {
      padding: 4px;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }
  }

  .promises {
    ul {
      grid-template-columns: auto;
    }
  }
}